:root {
  --color-fondo: white;
  --color-texto: black;
  --ancho-maximo: 100vw;
  
  color: var(--color-texto);
  background-color: var(--color-fondo);
  max-width: var(--ancho-maximo);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fondo: black;
    --color-texto: white;
    --ancho-maximo: 100vw;
  }
}

a {
  font-weight: 500;
  color: green;
  text-decoration: inherit;
}
a:hover {
  color: greenyellow;
}

body {
  margin: 0;
  padding: 0;
}
