/* CUERPO DEL PROYECTO */
body.light {
  --color-fondo: rgb(241, 222, 222);
  --color-texto: black;
  --ancho-maximo: 100vw;
  --navbar-gradient: linear-gradient(90deg, #15400E, #F58805, #991531);
  --color-a: white;
}

body.dark {
  --color-fondo: #383838;
  --color-texto: white;
  --ancho-maximo: 100vw;
  --navbar-gradient: linear-gradient(200deg, black, #15400E);
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-texto);
  background-color: var(--color-fondo);
  max-width: var(--ancho-maximo);
}

#navbar {
  background: var(--navbar-gradient);
  transition: background 0.5s ease;
}

/* CUERPO DE CONTENIDO */
main {
  margin: 0 3%;
}

a {
  color: var(--color-a);
}